<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title th:text="${title}"></title>
	<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/ace.min.css" />
	<link rel="stylesheet" href="../../static/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../../static/css/studioCss.css"/>
	<script src="../../static/js/jquery-2.1.3.min.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>

	<script src="../../static/js/echarts.min.js"></script>
	<script src="../../static/js/jquery-2.1.3.min.js"></script>

	<link rel="icon" type="image/x-icon" href="../../static/favicon.ico" th:href="@{/static/favicon.ico}"/>
	<link rel="bookmark" href="../../static/favicon.ico" th:href="@{/static/favicon.ico}" type="image/x-icon"/>
	<style>
		#pic1{
			width:400px;
			height:400px;
			margin: 20px auto;
		}
	</style>
</head>

<body>

  <!-- 上部banner -->
  <div id="navbar" class="navbar">
    <div class="navbar-container ace-save-state" id="navbar-container">
      <!-- 左边标题 -->
      <div class="navbar-header pull-left">
        <a href="../index.html" th:href="@{../menu/index}" class="navbar-brand">
          <small>
            <img src="../../static/favicon.ico">&nbsp;&nbsp;学生管理系统
		  </small>
        </a>
      </div>

      <!-- 右边个人设置 -->
      <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
          <li class="light-blue dropdown-modal">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
              <img class="nav-user-photo" src="../../static/images/admin.png" alt="admin's Photo" />
              <span class="user-info">欢迎,<br>管理员</span>
              <i class="ace-icon fa fa-caret-down"></i>
            </a>
            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
              <li><a href="modifyPasswordToAdmin.html" th:href="@{/admin/toModifyPasswordPage}"><i class="ace-icon fa fa-cog"></i>修改密码</a></li>
              <li class="divider"></li>
              <li><a href="../index.html" th:href="@{/user/outLogin}"><i class="ace-icon fa fa-power-off"></i>退出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- 下部内容 -->
  <div class="row">

    <!-- 左导航栏 -->
    <div class="col-md-2">
        <div class="panel-group" id="panelContainer">
			<!-- 导航栏1 -->
			<div class="panel panel-default">
				<!-- 加入data-toggle="collapse"后可点击折叠 -->
				<div id="header1" class="panel-heading" data-toggle="collapse" data-target="#sub1" data-parent="#panelContainer">
					<i class="glyphicon glyphicon-leaf"></i>
					<a href="#">学生管理</a>
					<span class="glyphicon glyphicon-triangle-right pull-right"></span>
				</div>
				<div id="sub1" class="collapse panel-collapse">
					<div class="panel-body">
						<ul class="nav">
							<li>
								<a id="linkstudio" href="menuToAdmin.html" th:href="@{/admin/showStudentList}" style="padding-left:30px;">
									<i class="fa fa-angle-right" aria-hidden="true"></i>学生列表
								</a>
							</li>
							<li>
								<a id="linksched" href="addStudentToAdmin.html" th:href="@{/admin/returnClassName}" style="padding-left:30px;">
									<i class="fa fa-angle-right" aria-hidden="true"></i>学生添加
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 导航栏2 -->
			<div class="panel panel-default">
				<!-- 加入data-toggle="collapse"后可点击折叠 -->
				<div id="header2" class="panel-heading" data-toggle="collapse" data-target="#sub2" data-parent="#panelContainer">
					<i class="glyphicon glyphicon-user"></i>
					<a href="#">班级管理</a>
					<span class="glyphicon glyphicon-triangle-right pull-right"></span>
				</div>
				<div id="sub2" class="collapse panel-collapse">
					<div class="panel-body">
						<ul class="nav">
							<li>
								<a id="linkcustomer" href="showClassToAdmin.html" th:href="@{/admin/showClassList}" style="padding-left:30px;">
									<i class="fa fa-angle-right" aria-hidden="true"></i>班级列表
								</a>
							</li>
							<li>
								<a id="linkemp" href="addClassToAdmin.html" th:href="@{/admin/addClassToPage}" style="padding-left:30px;">
									<i class="fa fa-angle-right" aria-hidden="true"></i>班级添加
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 导航栏3 -->
			<div class="panel panel-default">
				<!-- 加入data-toggle="collapse"后可点击折叠 -->
				<div id="header3" class="panel-heading" data-toggle="collapse" data-target="#sub3" data-parent="#panelContainer">
					<i class="glyphicon glyphicon-tasks"></i>
					<a href="#">教师管理</a>
					<span class="glyphicon glyphicon-triangle-right pull-right"></span>
				</div>
				<div id="sub3" class="collapse panel-collapse">
					<div class="panel-body">
						<ul class="nav">
							<li>
								<a id="linksale" href="#" style="padding-left:30px;">
									<i class="fa fa-angle-right" aria-hidden="true"></i>教师列表
								</a>
							</li>
							<li>
								<a id="linkrefund" href="#" style="padding-left:30px;">
									<i class="fa fa-angle-right" aria-hidden="true"></i>添加教师
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 导航栏4 -->
			<div class="panel panel-default">
				<!-- 加入data-toggle="collapse"后可点击折叠 -->
				<div id="header4" class="panel-heading" data-toggle="collapse" data-target="#sub4" data-parent="#panelContainer">
					<i class="glyphicon glyphicon-tasks"></i>
					<a href="#">课程管理</a>
					<span class="glyphicon glyphicon-triangle-right pull-right"></span>
				</div>
				<div id="sub4" class="collapse panel-collapse">
					<div class="panel-body">
						<ul class="nav">
							<li>
								<a id="linksaleachi" href="#" style="padding-left:30px;">
									<i class="fa fa-angle-right" aria-hidden="true"></i>课程列表
								</a>
							</li>
							<li>
								<a id="linksaleticket" href="#" style="padding-left:30px;">
									<i class="fa fa-angle-right" aria-hidden="true"></i>添加课程
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 导航栏5 -->
			<div class="panel panel-default">
				<!-- 加入data-toggle="collapse"后可点击折叠 -->
				<div id="header5" class="panel-heading" data-toggle="collapse" data-target="#sub5" data-parent="#panelContainer">
					<i class="glyphicon glyphicon-tasks"></i>
					<a href="#">选课管理</a>
					<span class="glyphicon glyphicon-triangle-right pull-right"></span>
				</div>
				<div id="sub5" class="collapse panel-collapse">
					<div class="panel-body">
						<ul class="nav">
							<li>
								<a id="linkresource" href="#" style="padding-left:30px;">
									<i class="fa fa-angle-right" aria-hidden="true"></i>选课管理
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<!-- 加入data-toggle="collapse"后可点击折叠 -->
				<div id="header6" class="panel-heading" data-toggle="collapse" data-target="#sub6" data-parent="#panelContainer">
					<i class="glyphicon glyphicon-tasks"></i>
					<a href="#">成绩管理</a>
					<span class="glyphicon glyphicon-triangle-right pull-right"></span>
				</div>
				<div id="sub6" class="collapse panel-collapse in">
					<div class="panel-body">
						<ul class="nav">
							<li>
								<a id="scoreAdd" href="#" style="padding-left:30px;">
									<i class="fa fa-angle-right" aria-hidden="true"></i>录入成绩
								</a>
							</li>
							<li>
								<a id="scoreManagement" href="#" style="padding-left:30px;">
									<i class="fa fa-angle-right" aria-hidden="true"></i>成绩管理
								</a>
							</li>
							<li>
								<a id="scoreStatistics" href="scoreInfoToAdmin.html" th:href="@{/admin/scoreInfoToPage}" style="padding-left:30px;background-color: #336699">
									<i class="fa fa-angle-right" aria-hidden="true"></i>成绩统计
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

      </div>
    </div>

    <!--右侧主体部分-->
    <div class="col-md-9" style="margin-left:5px;">
      <div style="margin:5px 0px 10px 0px;">成绩管理 > 成绩统计</div>
      <hr>
      <!-- 查询块 -->
      <div class="search">
        <form class="form-inline" name="myForm" action="/admin/scoreInfo" method="post">
          课程名称:&nbsp;&nbsp;&nbsp;
			<select name="courseName">
				<option th:selected="${courseList}" th:each="course:${courseList}" th:value="${course}" th:text="${course}"></option>
			</select>
			&nbsp;&nbsp;&nbsp;&nbsp;切换数据显示方式:&nbsp;&nbsp;&nbsp;
			<select name="showSelect">
				<option selected>默认显示</option>
				<option>柱状图</option>
				<option>饼状图</option>
			</select>
			&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-primary" value="查   询"/>&nbsp;&nbsp;
        </form>
      </div>

		<input type="hidden" th:value="${type}" id="type"/>

      <!-- 柱状图信息显示-->
      <div style="text-align: center;margin-top:10px" th:if="${type eq '柱状图'}">
		  <br>
		  <br>

		  <!--如果存在成绩信息-->
		  <div th:if="${scoreList}!=null">
			  <h4 style="display: inline">总人数为：</h4>
			  <h4 style="display: inline;color: red" th:text="${totalNumberPeople}"></h4>
			  <br>
			  <div id="main1" style="width: 800px;height:500px;margin-right:auto;margin-left:auto;"></div>
		  </div>
		  <div th:unless="${scoreList}">
			  <br>
			  <br>
			  <br>
			  <h1 style="display: inline">暂无成绩信息</h1>
		  </div>
      </div>

		<!-- 饼状图信息显示-->
		<div style="text-align: center;margin-top: 10px" th:if="${type eq '饼状图'}">
			<br>
			<br>
			<input type="hidden" th:value="${score1}" id="score1"/>
			<input type="hidden" th:value="${score2}" id="score2"/>
			<input type="hidden" th:value="${score3}" id="score3"/>
			<input type="hidden" th:value="${score4}" id="score4"/>
			<input type="hidden" th:value="${score5}" id="score5"/>

			<!--如果存在成绩信息-->
			<div th:if="${score1}!=null">
				<h4 style="display: inline">总人数为：</h4>
				<h4 style="display: inline;color: red" th:text="${totalNumberPeople}"></h4>
				<br>
				<div id="main2" style="width: 500px;height:500px;margin-right:auto;margin-left:auto;"></div>
			</div>
			<div th:unless="${score1}">
				<br>
				<br>
				<br>
				<h1 style="display: inline">暂无成绩信息</h1>
			</div>
		</div>

		<div style="text-align: center;margin-top: 10px" th:if="${type eq '默认显示'}">
			<br>
			<br>
			<br>
			<br>
			<br>
			<h1 style="display: inline">最高分：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
			<h1 style="display: inline;color: red" th:text="${max}"></h1>
			<br>
			<br>
			<h1 style="display: inline">最低分：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
			<h1 style="display: inline;color: red" th:text="${min}"></h1>
			<br>
			<br>
			<h1 style="display: inline">平均分：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
			<h1 style="display: inline;color: red" th:text="${ave}"></h1>
		</div>

  </div>




  </div>
</body>
<script type="text/javascript">

		//后端传来的数据
		var scoreList = [[${scoreList}]]
		flag=$("#type").val();

		//各项成绩占的百分比
		var score1 = $("#score1").val();
		var score2 = $("#score2").val();
		var score3 = $("#score3").val();
		var score4 = $("#score4").val();
		var score5 = $("#score5").val();

		if (flag=='柱状图'){
			// 基于准备好的dom，初始化echarts实例
			var myChart = echarts.init(document.getElementById('main1'));
		}else if (flag=='饼状图'){
			var myChart = echarts.init(document.getElementById('main2'));
		}


		//柱状图
		// 指定图表的配置项和数据
		var option1 = {
			title: {
				text: '成绩统计'
			},
			tooltip: {},
			legend: {
				data:['人数']
			},
			xAxis: {
				data: ['0~60','60~70','70~80','80~90','90~100']
			},
			yAxis: {},
			series: [{
				name: '人数',
				type: 'bar',
				data: scoreList
			}]
		};


		//饼状图
		var option2 = {
			backgroundColor: 'white',
			title: {
				text: '成绩分布',
				left: 'center',
				top: 10,
				textStyle: {
					color: '#ccc'
				}
			},
			tooltip: {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {d}%"
			},

			visualMap: {
				show: false,
				min: 500,
				max: 600,
				inRange: {
					colorLightness: [0, 1]
				}
			},
			series: [
				{
					name: '成绩分布',
					type: 'pie',
					clockwise: 'true',
					startAngle: '0',
					radius: '60%',
					center: ['50%', '50%'],
					data: [
						{
							value: score1,	//占百分之多少
							name: '0~60',
							itemStyle: {
								normal: {
									color: 'rgb(0,0,0)',
									shadowBlur: '90',
									shadowColor: 'rgba(0,0,0,0.8)',
									shadowOffsetY: '30'
								}
							}
						},
						{
							value: score2,
							name: '60~70',
							itemStyle: {
								normal: {
									color: 'rgb(255,0,0)'
								}
							}
						},
						{
							value: score3,
							name: '70~80',
							itemStyle: {
								normal: {
									color: 'rgb(173,255,47)'
								}
							}
						},
						{
							value: score4,
							name: '80~90',
							itemStyle: {
								normal: {
									color: 'rgb(122,48,158)'
								}
							}
						},
						{
							value: score5,
							name: '90~100',
							itemStyle: {
								normal: {
									color: 'rgb(0,128,0)'
								}
							}
						}
					],
				}
			]
		};


		if (flag=='柱状图'){
			// 使用刚指定的配置项和数据显示图表。
			myChart.setOption(option1);
		}else if (flag=='饼状图'){
			myChart.setOption(option2);
		}


</script>
</html>
