spring:
  datasource:
    url: jdbc:mysql://localhost:3306/newmember?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

server:
  port: 8081

logging:
  level:
    root: warn
    com.xupt: info
  file:
    name: log/blog-pro.log
